body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f96d6d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.info {
  display: flex;
  justify-content: flex-end;
  max-width: fit-content;
  margin: auto;
}


.pokedex {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px 200px;
  gap: 20px;
  background-color: grey;
  justify-content: center;
 
}

.poke:hover{
  transform: scale(1.1);
  box-shadow: 0px 15px 25px -5px rgba(0,0,0,1);
}

.poke {
  background-image: url("https://assets.wallpapersin4k.org/uploads/2017/03/Pokemon-Box-Wallpapers.png");
  background-repeat: no-repeat;
  background-color: #b84d69;
  border-radius: 10%;
  align-content: center;
  border: black solid 7px;
  transition: all .4s ease;
  cursor:pointer;
  overflow: hidden;

}

.one {
  background-image: url("https://assets.wallpapersin4k.org/uploads/2017/03/Pokemon-Box-Wallpapers.png");
  background-repeat: no-repeat;
  background-color: red;
}

.sprites {
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: rgb(83 85 87);
}

.basicInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  max-width: fit-content;
  margin: auto;
  margin-bottom: 10px;
}

.list {
  text-align: center;

  text-decoration: underline;
}
.moves {
  display: grid;
  grid-template-columns: 120px 120px 120px;
  gap: 30px;
  background-color: rgb(169 215 246);
  justify-content: space-evenly;
  align-items: center;
}


/* unvisited link */
a:link {
  color: rgb(12, 11, 11);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: rgb(248, 248, 248);
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

.h1{
  text-align: center;
}

.search{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

button{
  margin-left: 10px;
}